[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
tensorflow-gpu = "*"
matplotlib = "*"
pillow = "*"
tensorflow-datasets = "*"
numpy = "*"
scikit-image = "*"
tensorflow-addons = "*"
argparse = "*"

[requires]
python_version = "3.6"
