[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
tensorflow-gpu = "==1.14"
matplotlib = "*"
pillow = "*"
tensorflow-datasets = "*"
h5py = "*"
numpy = "*"
scikit-image = "*"

[requires]
python_version = "3.6"
